@model IEnumerable<TheBTeam.BLL.Models.Transaction>
@using TheBTeam.BLL
@{
    ViewData["Title"] = "List of transactions";
}

<h1>List of transactions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index">
    <div class="form-group">
        <label class="control-label"> Category and Type </label>
        <select style="width: 20%" name="category" asp-items="Html.GetEnumSelectList<CategoryOfTransaction>()" class="form-control">
            <option selected="selected" value="">Please select category</option>
        </select>
        <select style="width: 20%" name="type" asp-items="Html.GetEnumSelectList<TypeOfTransaction>()" class="form-control">
            <option selected="selected" value="">Please select Type</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Search transaction" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().User.Email"></label>
            </th>
            <th>
                <label asp-for="First().OccurrenceTime"></label>
            </th>
            <th>
                <label asp-for="First().Currency"></label>
            </th>
            <th>
                <label asp-for="First().Type"></label>
            </th>
            <th>
                <label asp-for="First().Category"></label>
            </th>
            <th>
                <label asp-for="First().Amount"></label>
            </th>
            <th>
                <label asp-for="First().BalanceAfterTransaction"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.User.Email
                </td>
                <td>
                    @item.OccurrenceTime
                </td>
                <td>
                    @item.Currency
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.BalanceAfterTransaction
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    <a asp-action="Edit" asp-route-id="@item.User.Email">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.User.Email">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.User.Email">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
