@model IEnumerable<TheBTeam.BLL.Models.TransactionDto>
@using TheBTeam.BLL
@{
    ViewData["Title"] = "List of transactions";
}

@{
    var incomeList = Html.GetEnumSelectList<CategoryOfTransaction>().Where(l => int.Parse(l.Value) > 0 && int.Parse(l.Value) < 100).ToList();
    var outcomeList = Html.GetEnumSelectList<CategoryOfTransaction>().Where(l => int.Parse(l.Value) >= 100).ToList();
    var allList = Html.GetEnumSelectList<CategoryOfTransaction>().Where(l => int.Parse(l.Value) == 0);

}

<h1>List of transactions</h1>


<form asp-action="Index">
    <div class="row">
        <div class="col">
            <label class="col-form-labelform-label">Type:</label>
            <select name="type" id="transactionTypeSelect" asp-items="Html.GetEnumSelectList<TypeOfTransaction>()" class="form-control">
                <option selected="selected" value="wqeqw">Please select Type</option>
            </select>
        </div>
        <div class="col">
            <label class="col-form-label">Category:</label>
            <select name="category" id="categorySelect" asp-items="new List<SelectListItem>()" class="form-control">
                <option selected="selected" value="">Please select category</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="col-form-label">Date form:</label>
            <input type="date" id="dateFrom" name="dateFrom" class="form-control" />
        </div>

        <div class="col">
            <label class="col-form-label">Date to:</label>
            <input type="date" id="dateTo" name="dateTo" class="form-control" />
        </div>
    </div>

    <label class="control-label">Description</label>
    <input name="description" id="descrition" type="text" class="form-control" />

    <div class="form-group">
        <input type="submit" value="Search transaction" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().UserDto.Email"></label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceAfterTransaction)
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="UserTransactions" asp-route-id="@item.UserId">@item.UserDto.Email</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenMade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceAfterTransaction)
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a><br />
                            <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a><br />
                            <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a><br />
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var outcomeOptions = @Html.Raw(Json.Serialize(outcomeList));
        var incomeOptions = @Html.Raw(Json.Serialize(incomeList));
        var allList= @Html.Raw(Json.Serialize(allList));
        var categorySelect = $('#categorySelect');
        $('#transactionTypeSelect').change(function () {
            categorySelect.empty();
            var selected = $(this).val();
            if (selected === '0') {
                addOptionsToSelect(allList);
            }
            if (selected === '1') {
                addOptionsToSelect(incomeOptions);

            }
            if (selected === '2') {
                addOptionsToSelect(outcomeOptions);
            }
        });

        function addOptionsToSelect(options) {
            options.forEach(function (i, item) {
                categorySelect.append($('<option>',
                    {
                        value: i.value,
                        text: i.text
                    }));
            });
        }
    });
</script>