@model TheBTeam.BLL.Models.TransactionSearchDto
@using TheBTeam.BLL
@{
    ViewData["Title"] = "List of transactions";
}

<h1>List of transactions</h1>


<form asp-action="Index">
    
    @{
        await Html.RenderPartialAsync("_TransactionSearchForm");
    }
    <div class="container container shadow p-3 mb-5 bg-white rounded">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParam"]" asp-route-description="@Model.Description" asp-route-dateTo="@Model.DateTo"
                           asp-route-dateFrom="@Model.DateFrom" asp-route-type="@Model.Type" asp-route-category="@Model.Category">@Html.DisplayNameFor(model => model.Transactions.First().UserDto.Email)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]" asp-route-description="@ViewData["Description"]" asp-route-dateTo="@ViewData["DateTo"]"
                           asp-route-dateFrom="@ViewData["DateFrom"]" asp-route-type="@ViewData["Type"]" asp-route-category="@ViewData["Category"]">@Html.DisplayNameFor(model => model.Transactions.First().WhenMade)</a>
                    </th>
                    <th>
                        <label>@Html.DisplayNameFor(model => model.Transactions.First().Currency)</label>
                    </th>
                    <th>
                        <label>@Html.DisplayNameFor(model => model.Transactions.First().Type)</label>
                    </th>
                    <th>
                        <label>@Html.DisplayNameFor(model => model.Transactions.First().Category)</label>
                    </th>
                    <th>
                        <label>@Html.DisplayNameFor(model => model.Transactions.First().Amount)</label>
                    </th>
                    <th>
                        <label>@Html.DisplayNameFor(model => model.Transactions.First().BalanceAfterTransaction)</label>
                    </th>
                    <th>
                        <label asp-for="@Model.Transactions.First().Description"></label>
                    </th>
                    <th>
                        <label>Actions</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Transactions)
                {
                    <tr>
                        <td>
                            <a asp-action="UserTransactions" asp-route-id="@item.UserId">@item.UserDto.Email</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WhenMade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Currency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BalanceAfterTransaction)
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a><br />
                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a><br />
                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a><br />
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
