@model IEnumerable<TheBTeam.BLL.Models.UserDto>

@{
    ViewData["Title"] = "users list";
}

<h1>Users list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>




    <table class="table">
        <thead>
            <tr>
                <th>
                    <label asp-for="First().FirstName"></label>
                </th>
                <th>
                    <label asp-for="First().LastName"></label>
                </th>
                <th>
                    <label asp-for="First().Gender"></label>
                </th>
                <th>
                    <label asp-for="First().Email"></label>
                </th>
                <th>
                    <label asp-for="First().Balance"></label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Balance.ToString("C")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="AddTransaction" asp-route-id="@item.Id">Add Transaction</a> |
                        <a asp-action="UserTransactions" asp-route-id="@item.Id">User's Transaction</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
